
@font-face {
    font-family: china;
    src: url(./3413twklausanne.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.section1{
    height: 100%;
    width: 100%;
   position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}


nav h1{
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
}

nav h4{
    font-size: 18px;
    font-weight: 500;

}

nav h1 i{
    rotate: 45deg;
    display: inline-block;
    font-size: 40px;
}

nav button{
    background-color: black;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    padding: 10px 50px;
}

.center-part-1{
    width: 40%;
    height: 100%;
}

.center-part-2{
    width: 60%;
    height: 100%;
}

.center-part-1 h1{
    font-size: 48px;
    font-weight: 600;
    padding: 20px 0;
    font-family: china;
    line-height: 58px;
}

.center-part-1 p{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(23, 22, 22, 0.909);
    padding-bottom: 20px;
}



.center-part-1 button{
    background-color: black;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}



