
@font-face {
    font-family: china;
    src: url(./3413twklausanne.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.section1{
    /* height: 100%; */
    width: 100%;
   position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}


nav h1{
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
}

nav h4{
    font-size: 18px;
    font-weight: 500;

}

nav h1 i{
    rotate: 45deg;
    display: inline-block;
    font-size: 40px;
}

nav button{
    background-color: black;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    padding: 50px 50px;
    gap: 5%;
}

.center-part-1{
    width: 40%;
    height: 100%;
    padding: 50px 0;
}

.center-part-2{
    width: 50%;
    height: 100%;
}

.center-part-1 h1{
    font-size: 48px;
    font-weight: 600;
    padding: 20px 0;
    font-family: china;
    line-height: 58px;
}

.center-part-1 p{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(23, 22, 22, 0.909);
    padding-bottom: 20px;
}



.center-part-1 button{
    background-color: black;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}


.section1-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    gap: 50px;
}

.section1-bottom img{
    width: 10%
}


.section2{
    padding: 0 60px;
}

.section2 .services{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 50px 0;
}

.services h3{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 15px;
    font-family: china; 
    background-color: #B9FF66;
    border-radius: 5px;
}
.services p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(23, 22, 22, 0.909);
    padding: 10px 0;
    width: 50%;
}


.container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    padding-bottom: 100px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    padding-left: 30px;
    gap: 20px;
    border-radius: 25px ;
    border: 3px solid black;
    box-shadow: 0px 5px 0px rgb(0, 0, 0);

}
.card-left{
    display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: self-start;
   height: 60%;
   width: 90%;
}

.white h2{
    background-color: #B9FF66;
    padding: 5px;
}

.white button i{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
}

.black h2{
    background-color: white;
    color: black;
    padding: 5px;
}

.black button i{
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
}

.black{
    background-color: black;
    color: white;
}



.black button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: black;
    color: white;
}

.white button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
}

.card-right img{
    width: 80%;
    height: 80%;
    border-radius: 5px;
}