*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.section1{
    height: 100%;
    width: 100%;
   position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}


nav h1{
    font-size: 40px;
}

nav h4{
    font-size: 18px;
    font-weight: 500;
}

nav button{
    background-color: #FFB800;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}